<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.Vault"
        android:enableOnBackInvokedCallback="true"
        tools:ignore="GoogleAppIndexingWarning">

        <service
            android:name="com.google.android.gms.metadata.ModuleDependencies"
            android:enabled="false"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.metadata.MODULE_DEPENDENCIES" />
            </intent-filter>
            <meta-data
                android:name="optional_module_dependencies"
                android:value="com.google.android.gms.aicore" />
        </service>

        <activity
            android:name=".VoiceNoteActivity"
            android:exported="true"
            android:theme="@style/Theme.Transparent"
            android:launchMode="singleInstance">
        </activity>

        <activity
            android:name=".LockActivity"
            android:exported="true"
            android:theme="@style/AppTheme.Vault">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".NoteEditorActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ui.AiLogsActivity"
            android:label="AI Thinking Logs"
            android:exported="false">
        </activity>
        <activity
            android:name=".Help"
            android:label="@string/title_activity_help" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="Cài đặt Vault"
            android:theme="@style/AppTheme.Vault" >
        </activity>

        <activity android:name=".About"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ABOUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".SelectAccount"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACCOUNT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
